<div class="container">
    <br>
    <div class="row my-5">
        <div class="col-2"></div>
        <div class="col-4">
            <h4>
                {{data.inteinRegister.details.name}} please look straight at the camera so we can spot you
            </h4>
            <small>you will automatically be tokn to the next step as soon as you take a picture</small>
        </div>
        <div class="col-4 border" style="height: 400px;" (click)="continue()">
            <div></div>
        </div>
    </div>
</div>