<div class="container">
    <label>file <input type="file" accept="*.png.txt" multiple (change)=addFileToStorage($event)></label>
</div>
<br>
<div *ngFor="let i of pros" class="progress">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(pros) + '%'">
        {{i | number:"1.0-0"}}</div>
</div>
<br>
<button (click)="upload()" class="text-uppercase">upload</button>
<br>
<br>
<br>
<br>
<div *ngFor="let url Of downloadURL" class="alert alert-info" role="alert">
    File uploaded: <a [href]="url">{{url}}</a>
</div>