<div class="container niseVizibility">
    <h1>thank you, {{data.inteinRegister.details.name}}</h1>
    <h3><svg style="color:green" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
            class="bi bi-check2" viewBox="0 0 16 16">
            <path
                d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
        </svg> your user has been successfully created</h3>
        <br>
        <br>
        <br>
    <div>in order to fit the simulator you need to have a short questionnaire</div>
    <br>

    <button class="btn btn-secondary text-uppercase" [routerLink]="['/questionnaire']">let's start</button>
</div>
