<div class="containar">
<br>
<br>
<br>
    <div class="row justify-content-around" >
        <div class="col-6" >
            <div class="border mx-5" style="height: 100%; width: auto;"></div>
        </div>
        <div class="col-6">
            <div class="row  text-uppercase">
                <div class="col-3 underline" (click)="typeUser('intern')">intern</div>
                <div class="col-3 underline " (click)="typeUser('supervisor')">supervisors</div>
            </div>
            <div class="text-uppercase" style="height: 300px;">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h2 class="align-self-center">wellcome {{kindUser}}</h2>
                
                
                
                
                
                
                
            </div>
        <button class="btn btn-secondary text-uppercase"  [routerLink] = 'kindUser === "intern"? ["/details"]: ["/supervisor"]'> register now</button>
    </div>
    
</div>
