/* You can add global styles to this file, and also import other style files */
.niseVizibility{
   top: 20%;
   position: absolute;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}