    <!-- <h1>wellcome {{data.data.name}} </h1> -->
    <br>
    <div class="row">
        <div class="col-2 mx-2">
            <button class="btn btn-secondary" [routerLink]='["allUsers"]' >get all users</button>
        </div>
        <div class="col-2 mx-2">
            <button class="btn btn-secondary" [routerLink]='["createuser"]' >create user</button>
        </div>
        <div class="col-2 mx-2">
            <button class="btn btn-secondary" [routerLink]='["addtest"]' >add new test</button>
        </div>
        <div class="col-2 mx-2">
            <button class="btn btn-secondary" [routerLink]='["allUsers"]' >academics</button>
        </div>
    </div>
