.name{
    display:inline-block;
    border: 2px dotted darkgray;
    background-color: gray;
    border-radius: 75%;
    width: 30px;
    height: 30px;
}
.withoutToggle ::after{
   
        content: none;
   
}