<div class="container">

    <div style="float: left;" *ngIf="data.isLogin">
        <img class="my-3" src="assets/img/images1.jpg" style="height: 50px; width: 50px;" [routerLink]='["/"]'>
    </div>

    <div *ngIf="data.isLogin" class="text-sm-right">
        <div *ngIf="!isCreate">already have on account? <a [routerLink]='["/login"]'>log in</a></div>
        
        <div *ngIf="isCreate && !data.inteinRegister.details.name">not yet don't have an
            account?<a [routerLink]='["/entrance"]'>ragister</a></div>
        
            <p *ngIf="isCreate && data.inteinRegister.details.name ">
            <span class="border text-center" style="height: 20px; width: 20px; border-radius: 100%;">
                {{data.inteinRegister.details.name[0]}}
            </span>
            {{data.inteinRegister.details.name}}
        </p>
    </div>
</div>